<div class="box" *ngIf="skLoading">
  <div class="p-4">
    <div class="grid grid-cols-12 gap-x-6">
      <div
        class="xl:col-span-3 col-span-12 mb-4"
        *ngFor="let card of [].constructor(10)"
      >
        <app-skeleton></app-skeleton>
      </div>
    </div>
  </div>
</div>
<div class="xl:col-span-12 col-span-12" *ngIf="!skLoading">
  <app-showcode-card
    [title]="'Information Verified'"
    [class]="'box-title font-medium text-[15px] text-primary block'"
    [boxHeader]="'pb-0'"
    [titleView]="true"
  >
    <div class="grid grid-cols-12 sm:gap-x-6 gap-y-4 gap-x-4">
      <div class="xl:col-span-12 col-span-12">
        <div class="flex items-center gap-5 flex-wrap text-[12px]">
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('basicInfo')"
            >
              {{ getIcon("basicInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('basicInfo')"
            >
              Basic Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('contactPerson')"
            >
              {{ getIcon("contactPerson") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('contactPerson')"
            >
              Contact Person Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('billTo')"
            >
              {{ getIcon("billTo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('billTo')"
            >
              Bill To Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('shipTo')"
            >
              {{ getIcon("shipTo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('shipTo')"
            >
              Ship To Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('bankInfo')"
            >
              {{ getIcon("bankInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('bankInfo')"
            >
              Bank Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('taxInfo')"
            >
              {{ getIcon("taxInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('taxInfo')"
            >
              Tax Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('documentInfo')"
            >
              {{ getIcon("documentInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('documentInfo')"
            >
              Document Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('salesSupportInfo')"
            >
              {{ getIcon("salesSupportInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('salesSupportInfo')"
            >
              Sales Support Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('salesPersonInfo')"
            >
              {{ getIcon("salesPersonInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('salesPersonInfo')"
            >
              Sales Person Information
            </p>
          </div>
          <div class="flex items-center gap-2 flex-wrap">
            <i
              class="material-icons ms-1"
              style="font-size: 18px"
              [ngClass]="getVerifiedClass('commercialTermsInfo')"
            >
              {{ getIcon("commercialTermsInfo") }}
            </i>
            <p
              class="block font-medium text-[.9375rem]"
              [ngClass]="getVerifiedClass('commercialTermsInfo')"
            >
              Commercial Terms Information
            </p>
          </div>
        </div>

        <div>
          <div
            class="success-container"
            *ngIf="basicDetail?.sap_status === 'Approved'"
          >
            <div class="card">
              <div class="icon">✓</div>

              <h2>Business Partner Onboarding Successful!</h2>
              <p class="subtitle">
                The Business Partner has been successfully registered and
                synchronized with SAP system.
              </p>

              <div class="vendor-id">
                {{ basicDetail?.sap_data?.sap_account_code }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="box-footer border-t border-block-start-dashed sm:flex justify-end text-right pr-0"
      *ngIf="!basicDetail?.is_sap_commited"
    >
      <app-button
        *ngIf="isMoveToCommit"
        (buttonClick)="moveToSap()"
        [buttonType]="'button'"
        [buttonClass]="'ti-btn ti-btn-primary m-0'"
        [disabled]="api.disabled"
        [formType]="pageType"
        [iconClass]="'ri-save-line'"
        [label]="'Commit To SAP'"
        [loadingIconClass]="'ri-loader-2-fill'"
      ></app-button>
    </div>
  </app-showcode-card>
</div>
