<app-page-header
  [title]="'Business Partner'"
  [title1]="['Business Partner']"
></app-page-header>

<div class="box py-3 px-4">
  <div class="row">
    <div class="col-xl-12">
      <nav
        class="sm:flex sm:space-x-2 sm:rtl:space-x-reverse gap-1"
        role="tablist"
      >
        <app-listing-tab
          *ngFor="let tab of mainTabs"
          [tabs]="[
            {
              name: tab.name,
              label: tab.label,
              icon: tab.icon,
              count: tab.counts,
            },
          ]"
          [activeTab]="activeTab"
          (tabChange)="onTabChange($event.tab)"
        >
        </app-listing-tab>
      </nav>
      <app-page-sub-header
        [btnShow]="true"
        [refreshLabel]="'Refresh'"
        (onRefresh)="onRefresh()"
        [class]="'p-0 pt-3'"
        [btnShow2]="true"
        [addBtnLabel]="'Onboarding Link'"
        (button1)="goToAddPage()"
      ></app-page-sub-header>

      <div class="table-responsive overflow-auto table-bordered-default">
        <spk-reusable-tables
          tableClass="ti-custom-table ti-custom-table-head ti-custom-table-hover ti-head-primary whitespace-nowrap"
          [tableHead]="'border-b'"
          [showS_No]="true"
          [columns]="PageHeaders"
        >
          <ng-container *ngIf="!skLoading">
            <tr
              class="border-b !border-defaultborder dark:!border-defaultborder/10"
            >
              <td>&nbsp;</td>
              <td>
                <div class="table-search-filters">
                  <mat-form-field class="table-input">
                    <input
                      matInput
                      [matDatepicker]="picker"
                      [(ngModel)]="filter.created_at"
                      name="createdAt"
                      placeholder="Date Created"
                      (ngModelChange)="onDateChange('created_at', $event)"
                    />
                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="picker"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="table-search-filters">
                  <mat-form-field class="table-input">
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="filter.created_name"
                      placeholder="Search..."
                      (keyup.enter)="getList()"
                    />
                    @if (filter.created_name) {
                      <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="filter.created_name = ''; getList()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              </td>

              <td>
                <div class="table-search-filters">
                  <mat-form-field class="table-input">
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="filter.mobile"
                      placeholder="Search..."
                      (keyup.enter)="getList()"
                    />
                    @if (filter.mobile) {
                      <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="filter.mobile = ''; getList()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="table-search-filters">
                  <mat-form-field class="table-input">
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="filter.email"
                      placeholder="Search..."
                      (keyup.enter)="getList()"
                    />
                    @if (filter.email) {
                      <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="filter.email = ''; getList()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              </td>
              <td>
                <div class="table-search-filters">
                  <mat-form-field class="table-input">
                    <input
                      matInput
                      type="text"
                      [(ngModel)]="filter.email_cc"
                      placeholder="Search..."
                      (keyup.enter)="getList()"
                    />
                    @if (filter.email_cc) {
                      <button
                        matSuffix
                        mat-icon-button
                        aria-label="Clear"
                        (click)="filter.email_cc = ''; getList()"
                      >
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </mat-form-field>
                </div>
              </td>
              <td>&nbsp;</td>
            </tr>
            <tr
              class="product-list border-b !border-defaultborder dark:!border-defaultborder/10"
              *ngFor="let row of listing; let i = index"
            >
              <td class="!text-center">
                {{ i + 1 }}
              </td>
              <td>
                {{
                  row?.created_at
                    ? (row?.created_at | date: "d MMM yyyy, hh:mm a")
                    : "--"
                }}
              </td>
              <td>{{ row.created_name || "--" | titlecase }}</td>
              <td>{{ row.mobile || "--" }}</td>
              <td>{{ row.email || "--" }}</td>
              <td>{{ row.email_cc || "--" }}</td>
              <td>
                <strong>
                  {{ row.is_mail_sent ? "E-mail" : "" }}
                  {{ row.is_whatsapp_sent && row.is_mail_sent ? " | " : "" }}
                  {{ row.is_whatsapp_sent ? "WhatsApp" : "" }}
                </strong>
              </td>
            </tr>
          </ng-container>
          <!-- //--skeleton--// -->
          <ng-container *ngIf="skLoading">
            <tr
              class="border-b !border-defaultborder dark:!border-defaultborder/10"
              *ngFor="let row of [].constructor(7)"
            >
              <td *ngFor="let row of [].constructor(7)">
                <app-skeleton [class]="'h20 bg-skeleton'"></app-skeleton>
              </td>
            </tr>
          </ng-container>
          <!-- //--skeleton--// -->
        </spk-reusable-tables>
        <ng-container *ngIf="!listing.length && !skLoading">
          <app-data-not-found></app-data-not-found>
        </ng-container>
      </div>

      <app-pagination-footer
        [currentPage]="pagination.cur_page"
        [totalPage]="pagination.total_pages"
        [pageLimit]="pagination.limit"
        [listLength]="listing.length"
        [preBtn]="!pagination.prev"
        [nextBtn]="!pagination.next"
        (preButtonClick)="changeToPagination('Previous')"
        (nextButtonClick)="changeToPagination('Next')"
        (pageChange)="changeToPage($event)"
      ></app-pagination-footer>
    </div>
  </div>
</div>
